		<div class="uk-margin">
			<label class="uk-form-label" for="form-topic-3">{{ constant('TOPIC_TEXT_ATTACHMENTS') }} <a rel="faq.php?fid=2&width=475" href="faq.php?fid=2&width=475" class="jt" title="{{ constant('TOPIC_TEXT_RULES_ATTACHMENT') }}">?</a></label>
			<div class="uk-form-controls">
				<input type="file" name="t_file" id="form-topic-3">
			</div>
		</div>	