		<!--<div class="uk-margin">
			<label class="uk-form-label" for="form-topic-3">{{ constant('TOPIC_TEXT_ATTACHMENTS') }} <a rel="faq.php?fid=2&width=475" href="faq.php?fid=2&width=475" class="jt" title="{{ constant('TOPIC_TEXT_RULES_ATTACHMENT') }}">?</a></label>
			<div class="uk-form-controls">
				<input type="file" name="t_file" id="form-topic-3">
			</div>
		</div>	
		-->
		 <div class="js-upload uk-placeholder uk-text-center">
                <span uk-icon="icon: cloud-upload"></span>
                <span class="uk-text-middle">Attach binaries by dropping them here or</span>
                <div uk-form-custom>
                    <input type="file" multiple>
                    <span class="uk-link">selecting one</span>
                </div>
            </div>

            <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>
			<div class="uk-grid-small uk-text-left" uk-grid id="divImages">
			
			</div>