{# This is used for attachments to topics/replies and also for the upload of the user profile image #}
		 <div class="js-upload uk-placeholder uk-text-center">
                <span uk-icon="icon: cloud-upload"></span>
                <span class="uk-text-middle">{% trans %}Attach binaries by dropping them here or{% endtrans %}</span>
                <div uk-form-custom>
                    <input type="file" multiple>
                    <span class="uk-link">{% trans %}selecting one{% endtrans %}</span>
                </div> <span class="" uk-icon="question"></span><div uk-dropdown>{% trans %}Maximum filesize:{% endtrans %}
				{% if conf.max_filesize < 1024 %}
					{{ conf.max_filesize }} kB	
				{% else %}
					{{ (conf.max_filesize/1024)|round(1, 'floor') }} MB
				{% endif %}
				</div>
            </div>

            <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>
			<div class="uk-grid-small uk-text-left" uk-grid id="divImages">
			
			</div>