				<div id="abcCheck" style="display:none">
					<pre id="abcCheckText" class="abcCheckText"></pre>
				</div>
				<div id="newMusicSheet" style="display:none">
		
					<div class="uk-margin">
						<label class="uk-form-label" for="newTopicText">{{ constant('TOPIC_TEXT_ADD_MUSIC') }} <a rel="faq.php?fid=3" href="faq.php?fid=3" class="jt" title="{{ constant('TOPIC_SHEET_INFO') }}">?</a></label>
						<div class="uk-form-controls">
							<textarea class="uk-textarea" name="abc" id="abc" cols="80" rows="15"></textarea>
						</div>
					</div>		
		
					<input type="button" value="Check syntax" onclick="checkAbcSyntax('abc')" class="uk-button" />
					<div id="midi"></div>
					<div id="warnings"></div>
					<div id="music"></div>
					<div id="paper0"></div>
				</div>
				<div id="addmusicdiv">
					<input type="button" class="uk-button" value="{{ constant('TOPIC_TEXT_ADD_MUSIC') }}" onClick="javascript:tgldiv('addmusicdiv');javascript:tgldiv('newMusicSheet');">
				</div>


