        <div id="abcCheck" style="display:none"><pre id="abcCheckText" class="abcCheckText"></pre></div>
        <div id="newMusicSheet" style="display:none"><div style="float:left">
        
        <textarea name="abc" id="abc" cols="80" rows="15"></textarea></div><div style="float:left"><span class="formInfo"><a rel="faq.php?fid=3" href="faq.php?fid=3" class="jt" title="<?=TOPIC_SHEET_INFO?>">?</a></span></div><div style="clear:both"></div><input type="button" value="Check syntax" onclick="checkAbcSyntax('abc')" /><div id="midi"></div>
<div id="warnings"></div>
<div id="music"></div>
<div id="paper0"></div>
</div><div id="addmusicdiv"><input type="button" value="<?=TOPIC_TEXT_ADD_MUSIC?>" onClick="javascript:tgldiv('addmusicdiv');javascript:tgldiv('newMusicSheet');"></div>