				<div id="abcCheck" style="display:none">
					<pre id="abcCheckText" class="abcCheckText"></pre>
				</div>
				<div id="newMusicSheet" style="display:none">
		
					<div class="uk-margin">
						<label class="uk-form-label" for="newTopicText">{% trans %}Add music sheet{% endtrans %} <span class="" uk-icon="question"></span><div uk-dropdown>{% trans %}ABC music info{% endtrans %}<hr>{% include 'partials/help_abc.twig' %}</div></label>
						<div class="uk-form-controls">
							<textarea class="uk-textarea" name="abc" id="abc" cols="80" rows="15"></textarea>
						</div>
					</div>		
		
					<input type="button" value="{% trans %}Check syntax{% endtrans %}" onclick="checkAbcSyntax('abc')" class="uk-button" />
					<div id="midi"></div>
					<div id="warnings"></div>
					<div id="music"></div>
					<div id="paper0"></div>
				</div>
				<div id="addmusicdiv">
					<input type="button" class="uk-button" value="{% trans %}Add music sheet{% endtrans %}" onClick="javascript:tgldiv('addmusicdiv');javascript:tgldiv('newMusicSheet');">
				</div>


