	<div class="uk-card uk-card-default uk-card-body uk-margin">
		<h2 class="uk-card-title">New topic</h2>

<form action="actions.php" method="post" class="uk-form-stacked" enctype="multipart/form-data" id="frmNewTopic"><input type="hidden" value="newTopic" name="action">

<div class="uk-child-width-1-2" uk-grid>
{% if 'ADD_USER_TO_TOPIC' in user_rights|keys %}
	<div>
		<div class="uk-card uk-card-small">
			<h4 class="uk-card-title">User for this topic</h4>
			<p>
			<select id='ex_users' size='5' multiple='multiple' class="js-select2 uk-select uk-width-1-1 " style="width: 75%" name='t_user[]'>
				{% for u in users %}
					<option value='{{ u.user_id }}'>{{ u.user_name }}</option>
				{% endfor %}
			</select>
			</p>
		</div>
	</div>
{% endif %}	
{% if 'ADD_GROUP_TO_TOPIC' in user_rights|keys %}	
	<div>
		<div class="uk-card  uk-card-small">
			<h4 class="uk-card-title">Groups for this topic</h4>
			<p><select id='ex_groups' class="uk-select js-select2 uk-width-1-1"  style="width: 75%" size='5' multiple='multiple' name='t_group[]'>
	{% for g in groups %}
	<option value='{{ g.group_id }}'>{{ g.group_name }}</option>
	{% endfor %}</select></p>
		</div>
	</div>
{% endif %}

</div>
		
	{% include 'partials/texttitleblock.twig' %}				

	{% if 'CREATE_SHEETS' in user_rights|keys %}
		{% include 'partials/cheatsheet.twig' %}
	{% endif %}
	{% if 'CREATE_ATTACHMENTS' in user_rights|keys %}
		{% include 'partials/attachment.twig' %}						
	{% endif %}

	<div class="uk-text-right">
		<input class="uk-button uk-button-primary" type="submit" value="Save" name="new_topic" />
	</div>
</form>
</div>

	{% if 'CREATE_SHEETS' in user_rights|keys %}
		<script type="text/javascript">
		window.onload = function() {	
			abc_editor = new ABCJS.Editor("abc", { paper_id: "paper0", midi_id:"midi", warnings_id:"warnings" });
		}		
		</script>
	{% endif %}
