{% extends 'index.twig' %}

{% block vars %}
{% endblock %}

{% block index %}

  <header>
        <div class="tm-header">
            <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #sticky-dropdown">
                <nav class="uk-navbar-container">
                    <div class="uk-container">
                        <div uk-navbar>
                            <div class="uk-navbar-left">

                                <a class="uk-navbar-item uk-logo" href="#">Logo</a>

                                <ul class="uk-navbar-nav">
								{% if 'IS_ADMIN' in user_rights|keys %}

								<li><a href="panel.php">Admin panel</a></li>
								<li><a href="view_user_topics.php">User view</a></li>
								{% endif %}
				                                    <!--<li class="uk-active"><a href="">Active</a></li>-->
                                </ul>
								
                            </div>
							
							<div class="uk-navbar-right">

                                <ul class="uk-navbar-nav">
									<li><a href="user-settings.php">{{ constant('TOPIC_USER_SETTINGS') }}</a></li>
                                    <li><a href="logout.php">{{ constant('TOPIC_TEXT_LOGOUT') }}</a></li>
                                </ul>
								
                            </div>
							
                        </div>
                    </div>
                </nav>
            </div>
        </div>  
  </header>

  <main>
	<div class="uk-container">
		{% if breadcrumb|length %}
		<ul class="uk-breadcrumb uk-margin-top">
			{% for b in breadcrumb %}
				<li><a href="{{ b.href }}">{{ b.text }}</a></li>
			{% endfor %}
		</ul>
		{% endif %}
	
		{% block default %}
		{% endblock %}
	</div>

  </main>
  <footer class="uk-card-footer">

  </footer>
  
{% endblock %}
