{% extends 'default.twig' %}

{% block vars %}
{% endblock %}

{% block default %}

<h1>{% trans %}FAQ{% endtrans %}</h1>
<h2>{% trans %}HTML{% endtrans %}</h2>
{% if 'ALLOW_HTML' in user_rights %}
	{% trans %}You are allowed to post HTML.{% endtrans %}
{% else %}
	
{% endif %}
<h2>{% trans %}Following BB Codes are allowed:{% endtrans %}</h2>

<div class="uk-column-1-6">
	<ul>
{% for c in codes %}
		<li>{{ c }}</li>
{% endfor %}
	</ul>
</div>

<h2>{% trans %}ABC music info{% endtrans %}</h2>
{% include 'partials/help_abc.twig' %}

{% endblock %}		  

  