{% trans %}More information about the ABC notation can be found on following websites:{% endtrans %}
<ul class="uk-list uk-list-bullet">
	<li><a href="http://penzeng.de/Geige/Abc.htm">http://penzeng.de/Geige/Abc.htm</a> (de)</li>
	<li><a href="http://abcnotation.com/blog/2010/01/31/how-to-understand-abc-the-basics/">http://abcnotation.com/blog/2010/01/31/how-to-understand-abc-the-basics/</a> (en)</li>
</ul>