{% block vars %}
{% endblock %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css">
	<style>
      body {
        font-family: 'Raleway', sans-serif;
      }
    </style>

</head>

<body>
	<noscript><div class="no-script"><div class="no-script-inner">{{ constant('MODULE_HEADER_TAGS_NOSCRIPT_TEXT') }}</div></div></noscript>
    <div class="uk-offcanvas-content">


      {% block index %}{% endblock %}


	</div>

	<!-- JS FILES -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/js/uikit.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/js/uikit-icons.min.js"></script>
	{% block footerInjection %}{% endblock %}
</body>

</html>