{% extends 'layout_dashboard.twig' %}

{% block vars %}
{% endblock %}

{% block default %}
<h1>User view</h1>
See how a specific user will see the topics.
<div class="uk-column-1-2@s uk-column-1-3@m uk-column-1-4@l uk-background-muted uk-padding">
	<ul class="uk-list">
		{% for u in allUser %}
			<li class="even" onClick="javascript:loadUser({{ u.user_id }});">{{ u.user_name }}</li>
		{% endfor %}
	</ul>
</div>

<div class="uk-width-1-1 uk-margin-top" uk-grid id="gridTopics">

</div>

<div id="postswrapper" class="uk-margin-top">
   <div class="item"></div>
   <div id="loadmoreajaxloader" style="display:none;"><center><img src="ajax-loader.gif" /></center></div>
</div>


			
{% endblock %}		  

{% block footerInjection %}
<script language="javascript">  

var start = 10;
var stopscrol = 0;
var userid; 
function loadUser(id){
	$("#gridTopics").html("");
	start = 10;
	stopscrol = 0;
	userid = id;
	$.ajax({
		url: "actions.php?action=loadTopic&showUserid="+id,
		dataType: "json",
		success: function(response)
		{
			if( response.state == 'ok' && response.rows ) 
			{
				$("#gridTopics").append(response.html);	
			}
		}
	});
  };
  
  $(window).scroll(function()
	{
		if ( stopscrol == 0 )
		{
			if($(window).scrollTop() == $(document).height() - $(window).height())
			{
				$('div#loadmoreajaxloader').show();
				$.ajax({
				url: "actions.php?action=loadTopic&showUserid=" + userid + "&start="+start,
				dataType: 'json',
				success: function(response)
				{
					if( response.state == 'ok' && response.rows ) 
					{
						$("#gridTopics").append(response.html);							
						$('div#loadmoreajaxloader').hide();
						start = start + 10;
					} else {
						stopscrol = 1;
						$("#postswrapper").append('<div class="uk-text-center">{{ constant('NO_MORE_POSTS') }}</div>');
						$('div#loadmoreajaxloader').hide();
					}
				}
				});
			}
		}
	});
</script>

{% endblock %}		  
