{% extends 'default.twig' %}

{% block vars %}
{% endblock %}

{% block default %}

	<h1>{% trans %}No access{% endtrans %}</h1>
	
{% trans %}You don't have permission to access this page.{% endtrans %}

			
{% endblock %}		  