{% extends 'default.twig' %}
{% import 'macros/images.twig' as img %}
{% block vars %}
{% endblock %}

{% block default %}

<div id="popup" style="display:none; ">
	<div id="popupclose" onClick="tgldiv('popup');"><strong>X</strong></div>
	<div id="popupcontent"></div>
</div>
<div id="board_messages" style="display: none;"></div>

{% trans %}<strong>{{ user_name }}</strong>, welcome back. These are your topics:{% endtrans %}</div>
	<hr>
	<div id="placeholder" style="display:none;border:thin;border-style:dashed;padding:10px"></div>
	


	{% if 'CREATE_TOPICS' in user_rights %}

    <div id="newTopicRespond" style="display:none; "></div>
	

    <div id="createNewTopic" class="uk-margin">
		<div>
			<input class="uk-button uk-button-primary uk-margin-bottom" type="button" id="btnCreateTopic" value="{% trans %}Create a new topic{% endtrans %}">
		</div>
		<div id="newTopic2" style="display:none">
		

		{% if 'CREATE_TOPICS' in user_rights %}
			{% include 'partials/newtopic.twig' %}						
		{% endif %}
		
		
		</div>
		
	<br id="brplace">
	
	</div>

{% endif %}
	

<div class="uk-width-1-1" uk-grid id="gridTopics">

{% for topic in topics %}
	{% include 'partials/topicblock.twig' %}
{% endfor %}

</div>


<div id="postswrapper" class="uk-margin-top">
   <div class="item"></div>
   <div id="loadmoreajaxloader" style="display:none;"><center><img src="ajax-loader.gif" /></center></div>
</div>
			
{% endblock %}		  

{% block headerInjection %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.css">

	<script type="text/javascript">

$(document).ready(function(){
  $("#btnCreateTopic").click(function(){
	$("#newTopic2").toggle();
	$(this).toggle();
  });
  
  {% if 'CREATE_TOPICS' in user_rights %}
  $("#frmNewTopic").submit(function(e){
        e.preventDefault();
		$.ajax({
			url: 'actions.php',
			dataType: 'json',
			method: 'POST',
			data: $('#frmNewTopic').serialize(),
			success: function(respond){
				if ( respond.state == 'ok' ) {
					$("#newTopic2").toggle();
					$("#btnCreateTopic").toggle();
					$("#submitTopic").closest('form').find("input[type=text], textarea").val("");
                    if ( respond.addComment ) {
                        toastr["info"](respond.addComment);
                    }
                    if ( respond.html ) {
                        $("#gridTopics").prepend(respond.html);
                        $('body').scrollTo('#gridTopics');
                    }                        
				} else {
					toastr["error"]("Error", "Error");
				}
			}
		});		  
  
  });
  {% endif %}
  
});	
	    
	function addReply(topicid){
		var t;
		t = $("#newReplyText"+topicid).val();
		if ( t.length < 1 ) {
			$("#newReplyText"+topicid).css('background-color','#F96');
			$("#newReplyText"+topicid).focus();
			return;
		}
		{% if 'CREATE_SHEETS' in user_rights %}
		t2 = $("#abc").val();
		{% endif %}

		$.post("addReply.php",
		{
			{% if 'CREATE_SHEETS' in user_rights %}
			abc:t2,
			{% endif %}
		  
		  id:topicid,
		  text:t,
		  noref:1
		},
		function(data,status){
			$("#newReplyRespond"+topicid).slideToggle("slow");
			$("#newReply"+topicid).slideToggle("slow");
			$("#newReplyRespond"+topicid).text(data);
		});
	}
  
  var start = 10;
  var stopscrol = 0;
  $(window).scroll(function()
	{
		if ( stopscrol == 0 )
		{
			if($(window).scrollTop() == $(document).height() - $(window).height())
			{
				$('div#loadmoreajaxloader').show();
				$.ajax({
					url: "actions.php?action=loadTopic&start="+start,
					dataType: 'json',
					success: function(response)
					{
						
						if( response.state == 'ok' && response.rows ) 
						{
							$("#gridTopics").append(response.html);							
							$('div#loadmoreajaxloader').hide();
							start = start + 10;
						} else {
							stopscrol = 1;
							$("#postswrapper").append('<div class="uk-text-center">{% trans %}No more posts to show.{% endtrans %}</div>');
							$('div#loadmoreajaxloader').hide();
						}
					}
				});
			}
		}
	
	});

  </script>

			
{% endblock %}	

{% block footerInjection %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.js"></script>

<script language="javascript">  

  $( function() {
    $( "#date_end" ).datetimepicker({
          dateFormat: "{{ conf.format_dates_topic }}"
        });
	$( "#date_start" ).datetimepicker({
          dateFormat: "{{ conf.format_dates_topic }}"
        });
  } );
</script>
{% endblock %}	  