body {
	font-family: Arial, helvetica, sans-serif;
	background: white;
	margin: 0px;
}
h1 {
	font-family: Arial, helvetica, sans-serif;
	color: darkblue;
	padding-bottom:10px;
	margin-left: 20px;
	margin-bottom:0px;
}
h2 {
	font-family: Arial, helvetica, sans-serif;
	color: darkblue
}
h3 {
	font-family: Arial, helvetica, sans-serif;
	color: darkblue;
	background: lightblue;
}
h4 {
	font-family: Arial, helvetica, sans-serif;
	color: darkblue;
	top-padding: .2em
}
h5 {
	font-family: Arial, helvetica, sans-serif;
	color: darkblue;
	top-padding: .1em;
	padding-bottom: 0;
}

ul {
    list-style-type:none;
	padding:0px;
}
li {
	float: left;
	padding:2px;
}

title {
	font-family: Ariel, helvetica, sans-serif;
	color: darkblue
}
A:link {
	color: blue
}
A:visited {
	color: darkblue
}
A:active {
	color: green
}
h4 {
	margin-left: 0%;
	margin-right: 0%
}
h3 {
	margin-left: 0%;
	margin-right: 0%
}
h2 {
	margin-left: 0%;
	margin-right: 0%
}
hr {
	border: 0;
	height: 1px;
	background: #333;
	background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
	background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
	background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
	background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}
#rechtsoben {
	float: right;
	right: 0px;
	top: 0px;
	text-align:right;
	padding: 15px;
	border: thin;
	border-style: dashed;
	border-top:none;
	border-right:none;
}
#topicinfo {
	padding: 15px;
	border: thin;
	border-style: dashed;
	background-color:#CCC;
	font-size:11px;
	margin-left:20px;
	margin-right:20px;
}
#linksoben {
	position: absolute;
	left: 0px;
	top: 0px;
	padding: 15px;
	border: thin;
	border-style: dashed;
	border-left-style:hidden;
	border-top-style:hidden;
}
#errorcomplete {
	border: thin;
	border-style: dashed;
	padding: 10px;
	background-color:#FF5E5E;
	text-align:center;
	vertical-align:central;
	margin-left:20px;
	margin-right:20px;
}
#error {
	border: thin;
	border-style: dashed;
	padding: 10px;
	background-color:#FF5E5E;
	text-align:center;
	border-bottom:hidden;
	margin-left:20px;
	margin-right:20px;
}
#correct {
	border: thin;
	border-style: dashed;
	padding: 10px;
	background-color:#81FC84;	
	text-align:center;
	border-bottom:hidden;
	margin-left:20px;
	margin-right:20px;
}
#small {
	font-size:12px;
}
#warning {
	border: thin;
	border-style: dashed;
	padding: 10px;
	background-color:#FF5E5E;
	text-align:center;
	margin-left:20px;
	margin-right:20px;
}
#popup {
	background: #CCECEE;
	border: 1px solid #666;
	font-family: Arial, helvetica, sans-serif;
	font-size: 1.2em;
	padding:15px;
	color: #333;
	position: absolute;
	width: 700px;
	height: 400px;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -350px;
}
#popupclose {
	position: absolute;
	top: 0%;
	left: 100%;
	margin-top: -15px;
	margin-left: -20px;
	background-color:#E6E6E8;
	border:double;
	border-color:#000;
	padding:10px;
}
#panel-box {
	border:thin;border-style:dashed;padding:10px;
	margin-left:20px; margin-right:20px;
}
#panel-header {
	padding: 16px;
	text-align: center;
	font-size: 16px;
	color: #000066;
	font-stretch: normal;
	background-color: #F2E1F4;
	border:thin;
	border-style:dashed;
	border-bottom:hidden;
	margin-left:20px; margin-right:20px;
}
#topic {
	border:thin;
	border-style:dashed;
	border-bottom:hidden;
	padding:10px;
	margin-left:20px;
	margin-right:20px;
}
#reply-header {
	padding: 16px;
	border:thin;
	border-style:dashed;
	border-bottom:hidden;
}
.odd {
	background-color:#FFDDF9
}
.even {	
}

.formInfo a, .formInfo a:active, formInfo a:visited{
	background-color:#F90;
	font-size: 1em;
	font-weight:bold;
	padding:1px 2px;
	margin-left:5px;
	color:#000000;
	text-decoration: none;
	cursor: help;
}

.formInfo a:hover{
	color:#660000;
	text-decoration: none;
}

/* ---------->>> jtip <<<---------------------------------------------------------------*/

#JT_arrow_left{
	background-image: url(../includes/images/arrow_left.gif);
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
	z-index:101;
	left:-12px;
	height:23px;
	width:10px;
    top:-3px;
}

#JT_arrow_right{
	background-image: url(../includes/images/arrow_right.gif);
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
	z-index:101;
	height:23px;
	width:11px;
    top:-2px;
}

#JT {
	position: absolute;
	z-index:100;
	border: 2px solid #CCCCCC;
	background-color: #fff;
}

#JT_copy{
	padding:10px 10px 10px 10px;
	color:#333333;
}

.JT_loader{
	background-image: url(../includes/images/loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
	width:100%;
	height:12px;
}

#JT_close_left{
	background-color: #CCCCCC;
	text-align: left;
	padding-left: 8px;
	padding-bottom: 5px;
	padding-top: 2px;
	font-weight:bold;
}

#JT_close_right{
	background-color: #CCCCCC;
	text-align: left;
	padding-left: 8px;
	padding-bottom: 5px;
	padding-top: 2px;
	font-weight:bold;
}

#JT_copy p{
margin:3px 0;
}

#JT_copy img{
	padding: 1px;
	border: 1px solid #CCCCCC;
}

.jTip{
cursor:help;
}
#abcCheckText {

}